# This workflow will only build for Pull Requests which are opened, changed , merged
# that has changes in noetic folder or related files
name: Docker Noetic build
on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - '**'
      - '!humble/**' # Exclude humble folder
jobs:
  # Ubuntu 20.04 (ROS1 Noetic)
  docker-build-noetic:
    uses: usdot-fhwa-stol/actions/.github/workflows/docker.yml@main
    with:
      file: ./noetic/Dockerfile
      tag_name_suffix: noetic
